@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

@import "base/_colours";
@import "base/_fonts";

html, body {
  background-color: @orange;
  padding: 15px;
}

.logo {
  float: left;
  margin-right: 30px;
}

.jumbotron {
  background: 0;
  h1 {
    font-size: 48px;
  }
}

.row {
  background: 0;
  img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  img.pull-right {
    margin-left: 15px;
  }
  img.pull-left {
    margin-right: 15px;
  }
  + .row {
    margin-top: 30px;
    h2 {
      font-family: 'Lobster Two', cursive;
      font-style: italic;
      transform: rotate(-10deg);
      font-size: 48px;
      transform-origin: top left;
      display: inline-block;
      margin-top: 65px;
      + p {
        margin-top: 15px;
      }
    }
  }
}


.row--alt {
  background-color: @white;
  border-radius: 15px;
  border: 1px solid @grey;
}

footer {
  margin-top: 30px;
  color: @grey;
  font-size: small;
  text-align: center;
}
