@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

@import "_base/colours";
@import "_base/fonts";

html, body {
  background-color: @orange;
  .container {
    padding: 15px;
  }
}

.logo {
  float: left;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.jumbotron {
  background: 0;
  h1 {
    font-size: 48px;
  }
}

.content-block {
  margin-top: 30px;
  h2 {
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    transform: rotate(-10deg);
    font-size: 48px;
    transform-origin: top left;
    display: inline-block;
    margin-top: 65px;
    + p {
      margin-top: 15px;
    }
  }
  img {
    float: left;
    margin-right: 15px;
  }

  &:nth-child(even) {
    background: @white;
    border-radius: 15px;
    border: 1px solid @grey;
    img {
      float: right;
      margin-left: 15px;
      margin-right: 0;
    }
  }

}

footer {
  margin-top: 30px;
  padding: 15px;
  background-color: @white;
  text-align: center;
}
