@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

@import "_base/**";
@import "_components/**";

html, body {
  background-color: @orange;
  .container {
    padding: 15px;
  }
}

footer {
  margin-top: 30px;
  padding: 15px;
  text-align: center;
}
