extends layouts/_h5bp

block title
  | Save our Citrus

block content
  .row
    .jumbotron
      img.logo(src="images/logo.png")
      h1 Melbourne's lemon trees are under attack!
      p The native citrus gall wasp has colonised our lemon trees.
      p This is reducing productivity and is slowly killing our beautiful trees.
      p Come to our free information evening to find out how the we can nip citrus gall wasp in the bud together.
      p.pull-right
        a.btn.btn-primary.btn-lg(href="#", role="button") Register your interest
      p
        b When:
        |  12 August 2015
      p
        b Where:
        |  West Heidelberg Adult Ed

  .row.row--alt
    .col-md-12
      img.pull-right(src="//lorempixel.com/400/300")
      include:markdown content/got-gall.md

  .row
    .col-md-12
      img.pull-left(src="//lorempixel.com/400/300")
      include:markdown content/control-methods.md

  .row.row--alt
    .col-md-12
      img.pull-right(src="//lorempixel.com/400/300")
      include:markdown content/correct-disposal.md

  .row
    .col-md-12
      img.pull-left(src="//lorempixel.com/400/300")
      include:markdown content/coordination-is-key.md
