extends _layouts/h5bp

include _mixins/content-block
include _mixins/session

block title
  | Save our Citrus

block content

  .row: .col-md-12: .jumbotron

    img.img-responsive.logo(src="images/logo.png")

    h1 Melbourne's lemon trees are under attack!
    p The native citrus gall wasp has colonised our lemon trees.
    p This is reducing productivity and is slowly killing our beautiful trees.
    p For more information on our upcoming crowdfunding project or to register for our mailing list:
    ul   
      li email #[a(href="mailto:robertspalmerk@gmail.com") #[i.fa.fa-envelope] Kaye Roberts-Palmer], and 
      li join the conversation on our #[a(href="https://www.facebook.com/saveourcitrusmelbourne") #[i.fa.fa-facebook-official] Facebook page].

  +content-block: include:markdown _content/got-gall.md
  +content-block: include:markdown _content/control-methods.md
  +content-block: include:markdown _content/correct-disposal.md
  +content-block: include:markdown _content/coordination-is-key.md

  
  .brochure-link
    a(href="save-our-citrus-brochure.pdf" target="_blank")
      img(src="images/brochure.png" alt="")
      br
      button.btn.btn-primary #[i.fa.fa-file-pdf-o] Download our brochure
