extends _layouts/h5bp

include _mixins/content-block
include _mixins/modal

block title
  | Save our Citrus

block content

  .row: .col-md-12: .jumbotron

    img.img-responsive.logo(src="images/logo.png")

    h1 Melbourne's lemon trees are under attack!
    p The native citrus gall wasp has colonised our lemon trees.
    p This is reducing productivity and is slowly killing our beautiful trees.
    p Come along to a free educational talk and learn how to prevent the spread of Citrus Gall Wasp in our suburbs. The presentation will cover correct pruning and other control techniques as well as appropriate disposal methods.

    .session-list
      h2.session-list--heading Educational talks
      ul.session-list--list
        each session in talks.sessions
          li.session-list--session: ul
            li: strong #{session.location}
            li #{session.address}
            li #{session.date}, #{session.time}

  +content-block: include:markdown _content/got-gall.md
  +content-block: include:markdown _content/control-methods.md
  +content-block: include:markdown _content/correct-disposal.md
  +content-block: include:markdown _content/coordination-is-key.md

  +modal("signup", "Register to attend")
    include _partials/signup
