.logo-bar
  .logo-bar--logo
    img(src="images/darebin-logo.jpg", alt="City of Darebin")
  .logo-bar--logo
    img(src="images/shc-logo.png", alt="Sustainable Homes &amp; Communities")
  .logo-bar--logo
    img(src="images/banyule-logo.jpg", alt="City of Banyule")

| Proudly supported by the Sustainable Homes and Communities program.
