#mc_embed_signup
  form#mc-embedded-subscribe-form.validate.form-horizontal(action='//saveourcitrusinfo.us2.list-manage.com/subscribe/post?u=d7a8d097ec28f14c93ef45ce5&id=79631fe0ca', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
    #mc_embed_signup_scroll

      //- h2 Register to attend the thing

      .mc-field-group.form-group
        label.col-sm-3(for='mce-FNAME') First Name
        .col-sm-9
          input#mce-FNAME.form-control(type='text', value='', name='FNAME')

      .mc-field-group.form-group
        label.col-sm-3(for='mce-LNAME') Last Name
        .col-sm-9
          input#mce-LNAME.form-control(type='text', value='', name='LNAME')

      .mc-field-group.form-group
        label.col-sm-3(for='mce-EMAIL') Email Address
        .col-sm-9
          input#mce-EMAIL.required.email.form-control(type='email', value='', name='EMAIL' aria-describedby="emailHelp")
          #emailHelp.help-block This field is required. Please enter a valid email address.

      #mce-responses.clear
        #mce-error-response.response(style='display:none')
        #mce-success-response.response(style='display:none')

      div(style='position: absolute; left: -5000px;')
        input(type='text', name='b_d7a8d097ec28f14c93ef45ce5_79631fe0ca', tabindex='-1', value='')

      .clear.clearfix.form-group
        .col-sm-offset-3.col-sm-9
          input#mc-embedded-subscribe.button.btn.btn-primary.pull-right(type='submit', value='Register', name='subscribe')

